.topbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;      /* Center the nav content */
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: #fff;
    padding: 15px 30px;
    font-size: 0.65rem;
    flex-wrap: wrap;
  }
  
  .topbar-left span,
  .topbar-left a {
    margin-right: 25px;
    color: #fff;
    text-decoration: none;
  }
  
  .topbar-left a:hover,
  .topbar-right a:hover {
    text-decoration: underline;
  }
  
  .topbar-right a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .separator {
    margin: 0 5px;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .topbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .topbar-left,
    .topbar-right {
      margin: 5px 0;
    }
  
    .topbar-right {
      display: flex;
      gap: 10px;
    }
  }
  